<?xml version="1.0"?>
<launch>

  <group ns="diffbot">
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find diffbot_control)/config/diffbot_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="diffbot_hw_main" pkg="diffbot_control" type="diffbot_hw_main"
        respawn="false" output="screen" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen"
        args="diffbot_velocity_controller"/>
  </group>  <!-- diffbot -->

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
      respawn="false" output="screen"
      if="false">
    <remap from="/joint_states" to="/diffbot/joint_states" />
  </node>

  <node name="rqt" pkg="rqt_gui" type="rqt_gui"
      args="--perspective-file $(find diffbot_control)/config/diffbot.perspective"/>

</launch>
