<?xml version="1.0"?>
<launch>
  <arg name="rigid_only" default="true" doc="set to false to allow soft bodies"/>
  <arg name="use_rviz" default="true"/>
  <arg name="tf_prefix" default=""/>

  <node pkg="rviz" type="rviz" name="rviz"
      args="-d $(find bullet_server)/config/bullet_server.rviz"
      if="$(arg use_rviz)"/>

  <node pkg="bullet_server" type="bullet_server" name="bullet_server"
      output="screen">
    <param name="rigid_only" value="$(arg rigid_only)"/>
    <param name="tf_prefix" value="$(arg tf_prefix)"/>
  </node>

</launch>
