<?xml version="1.0"?>
<launch>
  <arg name="remove" default="false"/>
  <!-- these scale values are enums that can only be 0.1, 1.0, 10.0, 100.0-
      but that doesn't matter because the init of the pid messes with these values,
      so set it to 1.0 and set Kp to desired value-->
  <!--arg name="finger_kp_scale" default="1.0"/-->
  <arg name="finger_kp" default="5.0"/>
  <arg name="finger_upper_limit" default="20.0"/>
  <arg name="finger_lower_limit" default="-20.0"/>
  <arg name="scale" default="14.0"/>

  <group ns="bullet_server">
  <node name="spawn_platform" pkg="bullet_server" type="grasp.py"
      output="screen">
    <param name="remove" value="$(arg remove)"/>
    <param name="scale" value="$(arg scale)"/>
  </node>
  <node name="spawn_ground" pkg="bullet_server" type="ground_plane.py"
      output="screen">
  </node>
  </group>
  <node name="grasp_sequence" pkg="bullet_server" type="grasp_sequence.py"
      output="screen">
    <param name="scale" value="$(arg scale)"/>
  </node>

  <group unless="$(arg remove)">
  <group ns="prismatic_upper_fore">
    <node name="pid" pkg="pid" type="controller">
      <param name="Kp" value="0.5"/>
      <param name="Ki" value="0.2"/>
      <param name="Kd" value="0.05"/>
      <param name="upper_limit" value="$(eval 1 * arg('scale'))"/>
      <param name="lower_limit" value="$(eval -1 * arg('scale'))"/>
      <param name="windup_limit" value="$(eval 1 * arg('scale'))"/>
      <param name="diagnostic_period" value="0.25"/>
      <param name="max_loop_frequency" value="500.0"/>
      <param name="min_loop_frequency" value="100.0"/>
			<param name="topic_from_controller" value="target_lin_motor_vel"/>
			<param name="topic_from_plant" value="linear_pos"/>
    </node>
  </group>

  <group ns="finger_joint_0">
    <node name="pid" pkg="pid" type="controller">
      <param name="Kp" value="$(arg finger_kp)"/>
      <param name="Ki" value="0.0"/>
      <param name="Kd" value="0.05"/>
      <param name="upper_limit" value="$(arg finger_upper_limit)"/>
      <param name="lower_limit" value="$(arg finger_lower_limit)"/>
      <param name="windup_limit" value="1"/>
      <param name="diagnostic_period" value="0.25"/>
      <param name="max_loop_frequency" value="100.0"/>
      <param name="min_loop_frequency" value="100.0"/>
			<param name="topic_from_controller" value="target_ang_motor_vel"/>
			<param name="topic_from_plant" value="angular_pos"/>
    </node>
  </group>

  <group ns="finger_joint_1">
    <node name="pid" pkg="pid" type="controller">
      <param name="Kp" value="$(arg finger_kp)"/>
      <param name="Ki" value="0.0"/>
      <param name="Kd" value="0.05"/>
      <param name="upper_limit" value="$(arg finger_upper_limit)"/>
      <param name="lower_limit" value="$(arg finger_lower_limit)"/>
      <param name="windup_limit" value="1"/>
      <param name="diagnostic_period" value="0.25"/>
      <param name="max_loop_frequency" value="100.0"/>
      <param name="min_loop_frequency" value="100.0"/>
			<param name="topic_from_controller" value="target_ang_motor_vel"/>
			<param name="topic_from_plant" value="angular_pos"/>
    </node>
  </group>

  <group ns="finger_joint_2">
    <node name="pid" pkg="pid" type="controller">
      <param name="Kp" value="$(arg finger_kp)"/>
      <param name="Ki" value="0.0"/>
      <param name="Kd" value="0.05"/>
      <param name="upper_limit" value="$(arg finger_upper_limit)"/>
      <param name="lower_limit" value="$(arg finger_lower_limit)"/>
      <param name="windup_limit" value="1"/>
      <param name="diagnostic_period" value="0.25"/>
      <param name="max_loop_frequency" value="100.0"/>
      <param name="min_loop_frequency" value="100.0"/>
			<param name="topic_from_controller" value="target_ang_motor_vel"/>
			<param name="topic_from_plant" value="angular_pos"/>
    </node>
  </group>

  <group ns="finger_lower_joint_0">
    <node name="pid" pkg="pid" type="controller">
      <param name="Kp" value="$(arg finger_kp)"/>
      <param name="Ki" value="0.0"/>
      <param name="Kd" value="0.05"/>
      <param name="upper_limit" value="$(arg finger_upper_limit)"/>
      <param name="lower_limit" value="$(arg finger_lower_limit)"/>
      <param name="windup_limit" value="1"/>
      <param name="diagnostic_period" value="0.25"/>
      <param name="max_loop_frequency" value="100.0"/>
      <param name="min_loop_frequency" value="100.0"/>
			<param name="topic_from_controller" value="target_ang_motor_vel"/>
			<param name="topic_from_plant" value="angular_pos"/>
    </node>
  </group>

  <group ns="finger_lower_joint_1">
    <node name="pid" pkg="pid" type="controller">
      <param name="Kp" value="$(arg finger_kp)"/>
      <param name="Ki" value="0.0"/>
      <param name="Kd" value="0.05"/>
      <param name="upper_limit" value="$(arg finger_upper_limit)"/>
      <param name="lower_limit" value="$(arg finger_lower_limit)"/>
      <param name="windup_limit" value="1"/>
      <param name="diagnostic_period" value="0.25"/>
      <param name="max_loop_frequency" value="100.0"/>
      <param name="min_loop_frequency" value="100.0"/>
			<param name="topic_from_controller" value="target_ang_motor_vel"/>
			<param name="topic_from_plant" value="angular_pos"/>
    </node>
  </group>

  <group ns="finger_lower_joint_2">
    <node name="pid" pkg="pid" type="controller">
      <param name="Kp" value="$(arg finger_kp)"/>
      <param name="Ki" value="0.0"/>
      <param name="Kd" value="0.05"/>
      <param name="upper_limit" value="$(arg finger_upper_limit)"/>
      <param name="lower_limit" value="$(arg finger_lower_limit)"/>
      <param name="windup_limit" value="1"/>
      <param name="diagnostic_period" value="0.25"/>
      <param name="max_loop_frequency" value="100.0"/>
      <param name="min_loop_frequency" value="100.0"/>
			<param name="topic_from_controller" value="target_ang_motor_vel"/>
			<param name="topic_from_plant" value="angular_pos"/>
    </node>
  </group>
  </group>  <!-- remove -->

</launch>
